node_modules
dist
dist-ssr
coverage
.DS_Store
*.local
.vite
.env
.env.*
!.env.example

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
